<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clover.SoundDevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAwoYAOs/AKkG2NtBpJFUBf7vRsMAAAAAf/8EAA==
	</data>
	<key>Clover.SoundIndex</key>
	<data>
	AA==
	</data>
	<key>Clover.SoundVolume</key>
	<data>
	Rg==
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>IDInstallerDataV2</key>
	<data>
	4D1icGxpc3QwMKEB3xAXAgMEBQYHCAkKCwwNDg8QERITFBUWFxgZGhscHR4fICEiIyQl
	JicoKSoSKywtLlE5UzIxM1MxMDNTNDAwUzIwNQAQwA40UTBGMcgWNlMx8ecyUzE1MFEz
	ABzAEDVRNIAoM1GAHjk5RjblOFE2UTcACOAZOVZmYWlsZWRYNC43MjI5MjRRMV8RAWl7
	InJzIjowLCJhYSI6NjQsInMYD+RuX2xmEAnqcGkiOiJTQVRBIgAc5Xpfc3NkEBdAL2JI
	JzGWZWFALnPkMjQzOQBCwDNwcmzoUDA2MTREICAAN5AzcnVGY4g0MzIYY5AHYmPkcHJl
	VgAw6Dc0OC43Ny4480Z0SCg5AGsA44hkLCJAozUYSIAvcG7tQVZFWElSX0FWU1NERQAl
	6FpaLTEyMEdCAD+QJ2Ryhm10ELUAmsh6OTg38QCmSFIzWEtjWIplSCx2ACBYFmRgaG5o
	OXPx52VuY3J5cHQYNCAlmAhfaPGQCWxlmTFoYkkadEAJMUEaaklBOAEP4BEwfVgwLjk2
	NjM4NVg2LjYzOTM3MlUxN0c2Nl8Qy3siZnAQgDk6+BigQBdmiEstMTmMYRxwOQ7xbiD5
	aAEg92kXIvIZJVHGZFhnZkA6ZBAJ5G0iOjcAFwDpgYktM+Rwb3N0OaP1YEZmEN3qIklu
	dGVybmFsIgjm4BkwMTg1MzVWcGFzc2VkWjc4Ny40NjMxMTRUSUFTVVtzb2xpZCBzdGF0
	ZQgsAC3lNjZbdW4hYeAOZWRZMjEuMjQ5MTc1XxAQY2FzZSBpbnNlbnNpdGl2IDLgBjcy
	NlgxLjA0MzM1MlVjbGVhblNZRVMAE+BVMjU3NjE4AAgACgA7AD0AQQBFAEkATQBRAFMA
	VwBbAF8AYwBnAGkAbQBvAHMAdQB5AH0AgQCDAIUAiQCQAJkAmwIIAhECGgIgAu4C9wL+
	AwkDDgMaAyMDLwM5A0wDVQNeA2QDaAAQAc4CAQDyni8A9uMAA3EGAAAAAAAAAA==
	</data>
	<key>OsxAptioFixDrv-RelocBase</key>
	<data>
	AOA9oQAAAAA=
	</data>
	<key>SystemAudioVolume</key>
	<data>
	gA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	3A==
	</data>
	<key>SystemAudioVolumeSaved</key>
	<data>
	Jg==
	</data>
	<key>backlight-level</key>
	<data>
	EAc=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-backup-boot-device</key>
	<string>&lt;array&gt;&lt;dict&gt;&lt;key&gt;IOMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;IOProviderClass&lt;/key&gt;&lt;string&gt;IOMedia&lt;/string&gt;&lt;key&gt;IOPropertyMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;UUID&lt;/key&gt;&lt;string&gt;CBA1DD70-4F8C-4309-BA81-60B20A76535D&lt;/string&gt;&lt;/dict&gt;&lt;/dict&gt;&lt;key&gt;BLLastBSDName&lt;/key&gt;&lt;string&gt;disk2s2&lt;/string&gt;&lt;/dict&gt;&lt;dict&gt;&lt;key&gt;IOEFIDevicePathType&lt;/key&gt;&lt;string&gt;MediaFilePath&lt;/string&gt;&lt;key&gt;Path&lt;/key&gt;&lt;string&gt;\9AC8F4ED-9CF9-4F8A-A91E-BC0C5FE9FECE\System\Library\CoreServicesoot.efi&lt;/string&gt;&lt;/dict&gt;&lt;/array&gt;</string>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgAEAAAAADjeBgAAAACIExsHAAAA
	AEdejoe+AwFIsJZwJ637JeoCAgQDJAD3/HS+fAvzSZFHAfQELmhCcN2hy4xPCUO6gWCy
	CnZTXQQEmgBcADkAQQBDADgARgA0AEUARAAtADkAQwBGADkALQA0AEYAOABBAC0AQQA5
	ADEARQAtAEIAQwAwAEMANQBGAEUAOQBGAEUAQwBFAFwAUwB5AHMAdABlAG0AXABMAGkA
	YgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABiAG8AbwB0AC4AZQBm
	AGkAAAB//wQA
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjg3OEU1RTQ3LTAz
	QkUtNDgwMS1CMDk2LTcwMjdBREZCMjVFQTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAA//8AAAQBKgAEAAAAADjeBgAAAACIExsHAAAA
	AEdejoe+AwFIsJZwJ637JeoCAgQDJAD3/HS+fAvzSZFHAfQELmhC7fTImvmcik+pHrwM
	X+n+zn//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	BkAHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ZDIAaQAAAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AgMPAAA2
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ZDIAaQAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	SXZhbuKAmXMgTWFjQm9vayBQcm8=
	</data>
	<key>install-product-url</key>
	<data>
	eC1vc3Byb2R1Y3Q6Ly85QUM4RjRFRC05Q0Y5LTRGOEEtQTkxRS1CQzBDNUZFOUZFQ0Uv
	bWFjT1MlMjBJbnN0YWxsJTIwRGF0YQ==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW4tSUQ6MjUy
	</data>
	<key>previous-system-uuid</key>
	<data>
	OUFDOEY0RUQtOUNGOS00RjhBLUE5MUUtQkMwQzVGRTlGRUNF
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAA//8AAAQBKgAEAAAAADjeBgAAAACIExsHAAAA
	AEdejoe+AwFIsJZwJ637JeoCAgQDJAD3/HS+fAvzSZFHAfQELmhC7fTImvmcik+pHrwM
	X+n+zn//BAA=
	</data>
</dict>
</plist>